{% extends 'catalog/base.html' %}
{% block title %}Продукты{% endblock %}
{% block content %}
<div class="d-flex flex-row-reverse">
    <a href="{% url 'catalog:product_form' %}" class="link-primary m-3">Добавить продукт</a>
</div>

{% for product in object_list %}
    {% if product.publication_status %}
    {% include 'catalog/product_card.html' %}
    {% endif %}
{% endfor %}

{% if 'catalog.can_publish_product' in perms %}
<h3 class="card-title pricing-card-title mb-3">Не опубликованные продукты</h3>
{% for product in object_list %}
    {% if not product.publication_status %}
    {% include 'catalog/product_card.html' %}
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
