{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}Описание{% endblock %}
{% block content %}
<div class="row g-2 bg-body-secondary position-relative text-bg-secondary p-0 w-100">
    <div class="col-md-4 mb-md-0 p-md-4">
        <img src="{{ product.image | media_filter }}" class="w-100" style="width: 100px; height: 200px;" alt="Изображение продукта">
    </div>
    <div class="col-md-8 p-4 ps-md-0">
        <h5 class="mt-0">{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-link p-1 m-2">Редактировать</a>
        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-link p-1 m-2 text-danger">Удалить</a>
        <a href="{% url 'catalog:products' product.category_id %}" class="btn btn-link p-1 m-2">Назад</a>
    </div>
</div>
{% endblock %}
